<h1>All String Calculations</h1>

<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Input String</th>
      <th>Result</th>
      <th>Created At</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @string_calculators.each_with_index do |calculator, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= calculator.input_string %></td>
        <td><%= calculator.result %></td>
        <td><%= calculator.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= link_to 'Show', string_calculator_path(calculator) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Calculation", new_string_calculator_path, class: "button" %>
